* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 10px;
  font-family: sans-serif;
}

body {
  background-color: #083B4C;
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 70px;
}

#container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  height: 90px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-num {
  background-color:#1389B2;
}

.box-buzz {
  background-color:#FFD166;
}

.box-fizz {
  background-color:#0BD6A1;
}

.box-fizzbuzz {
  background-color:#F0466F;
}